<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/css/all.css"></script>-->
    <title>{{.Site.Params.title}}</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <nav class="main-nav">
            {{ $currentPage := . }}
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>

        <section class="main-content">
            <section class="top-container">
                <header class="showcase">
                    <h2>{{.Site.Params.subtitle}}</h2>
                    <h1>{{.Site.Params.title}}</h1>
                </header>
            </section>

            <section class="main-topics">
              {{ range .Pages }}
                <a href="{{.URL}}">
                    <div class="main-topic">
                        <img src="{{.Params.image}}" alt="" class="topic-image">
                        <h3 class="topic-title">{{.Title}}</h3>
                        <p>{{.Summary}}</p>
                    </div>
                </a>
              {{ end }}
            </section>

        </section>



        <footer>
            <p>{{.Site.Params.footer}}</p>
        </footer>
    </div> <!-- wrapper ends -->

</body>
</html>